<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <div class="headDiv">
      <img src="https://cdn.discordapp.com/attachments/632244905863020589/696586940404989963/Test2.png" width="70%">
      <button class="btn headBtn">Login</button>
      <button class="btn headBtn">SignUp</button>
    </div>
