<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="shortcut icon" href="/logo-border.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <div class="headDiv">
      <img class="hover" onclick="window.location='/home';" src="/logo.png" width="70%">
      <% if(!currentUser){ %>
      <button class="btn headBtn" onclick="window.location='/login';">Log In</button>
      <button class="btn headBtn" onclick="window.location='/register';">Sign Up</button>
      <% }else{ %>
        <h3 style="text-decoration: underline;"><%= currentUser.username %></h3>
        <button class="btn headBtn" onclick="window.location='/logout';">Logout</button>
      <% } %>
    </div>
