<%- include("partials/header.ejs") %>

  <div class="chatDisplay">
    <img class="newRoomBtn" src="newProjectIcon.png" onclick="window.location='/home/newRoom';">
    <ul class="list-group">
      <% for(var x = chatRoom.length - 1; x >= 0; x--){ %>
        <li class="list-group-item list-group-item-action" onclick="window.location='/home/chat/<%= chatRoom[x].room_id %>';"><%= chatRoom[x].title %></li>
      <% } %>
    </ul>
  </div>

<%- include("partials/footer.ejs") %>
