<%- include("partials/header.ejs") %>
  <div class="chatDisplay">
    <hr>
  </div>
  <div class="chatDiv">
    <form action="#" onsubmit="sendMsg();return false">
      <input class="chatInp" placeholder="message">
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io(),
        inp = document.querySelector('input'),
        chatDisplay = document.querySelector('.chatDisplay');

    function sendMsg(){
      if(inp.value.length != 0){
        socket.emit('msg', inp.value, '<%= currentUser.username %>');
        inp.value = "";
      }
    }
    socket.on('msg', function(msg){
      chatDisplay.innerHTML += "<h6>" + msg + "</h6><hr>";
    });
  </script>

<%- include("partials/footer.ejs") %>
