<%- include("partials/header.ejs") %>

  <div class="bodyDiv">
    <h2><strong>INTERROBANG</strong></h2>
  </div>
  <div class="bodyDiv2">
    <h2>MISSION STATEMENT:</h2>
    <p>Our mission is to create a secure chat server that is owned and managed by people we trust (us).</p>
  </div>
  
<%- include("partials/footer.ejs") %>
