<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="shortcut icon" href="/logo-border.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <img class="hover" onclick="window.location='/';" src="/logo.png" width="10%" style="margin-left: 1%;">
    <div class="authenticateDiv">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button class="btn authenticateBtn">Login</button>
      </form>
      <small id="emailHelp" class="form-text text-muted">Don't have an account? <a href="/register">SignUp!</a></small>
    </div>
  </body>
</html>
