<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="shortcut icon" href="/logo-border.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <img class="hover" onclick="window.location='/';" src="/logo.png" width="10%" style="margin-left: 1%;">
    <div class="authenticateDiv">
      <h1>SignUp</h1>
      <form action="/register" method="POST">
        <div class="row">
          <div class="col">
            <input name="f_name" type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input name="l_name" type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
          <label for="#confirm_password">Confirm Password</label>
          <input type="password" required id="confirm_password" class="form-control">
        </div>
        <button class="btn authenticateBtn">SignUp</button>
      </form>
      <small id="emailHelp" class="form-text text-muted">Already have an account? <a href="/login">Login!</a></small>
    </div>
    <script type="text/javascript" src="/register.js"></script>
  </body>
</html>
