body{
  color: white;
  background-color: #1C1C1C;
}
.headDiv{
  position: fixed;
  width: 15%;
  background-color: #CE0000;
  padding: 1vh;
  text-align: center;
  border-bottom-right-radius: 20px;
  height: 40vh;
  box-shadow: 0px 0px 0.5vh black;
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
}
.headBtn{
  width: 70%;
  color: white;
  margin: 1%;
  background-color: #1C1C1C;
}
.headBtn:hover{
  background-color: #3A3A3A;
  color: white;
}
.bodyDiv{
  background-color: #DAE2E5;
  color: #CE0000;
  text-align: center;
  padding: 1%;
}
.bodyDiv2{
  text-align: center;
  padding: 3%;
}
.authenticateDiv{
  padding: 2%;
  padding-top: 3%;
  padding-bottom: 5%;
  color: black;
  margin: auto;
  width: 27%;
  background-color: #DAE2E5;
  border-radius: 20px;
}
.hover:hover{
  cursor: pointer;
}
.authenticateBtn{
  color: white;
  background-color: #CE0000;
}
.authenticateBtn:hover{
  color: white;
  background-color: #960000;
}
.chatDiv{
  width: 100%;
  text-align: center;
  height: 10vh;
  margin-top: -10vh;
}
.chatInp{
  background-color: #CE0000;
  border: none;
  outline: none;
  padding: 0.7%;
  transition: all 0.3s;
  margin: 0 auto;
  width: 60%;
  border-radius: 2px;
  color: #DAE2E5;
}
.chatInp:focus{
  border-radius: 12px;
}
.chatDisplay{
  width: 70%;
  margin: 0 auto;
  padding: 3%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-height: 90vh;
  padding-bottom: 15vh;
}
.chatMsg{
  padding: 1%;
  margin-left: 10%;
  word-wrap: break-word;
  margin-bottom: 3%;
}
.profilePic{
  width: 5%;
  position: absolute;
  border-radius: 100%;
  background-color: #CE0000;
}
hr{
  width: 100%;
  border: 0.5px solid #CE0000;
  background-color: #CE0000;
}
.newRoomBtn{
  padding: 1%;
  width: 10%;
  background-color: #CE0000;
  border-radius: 100%;
  transition: all 0.3s;
}
.newRoomBtn:hover{
  cursor: pointer;
  background-color: #B50000;
}
.newRoomBtn:active{
  background-color: #D8271E;
}
#newRoomDiv{
  margin-left: 1%;
  display: none;
  background-color: #3A3A3A;
  position: absolute;
  width: 35%;
  padding: 2%;
  border-radius: 10px;
}
input::placeholder{
  color: #F2F2F2;
}
.chatSelectionDiv{
  position: fixed;
  width: 15%;
  background-color: #CE0000;
  padding: 1vh;
  text-align: center;
  border-bottom-right-radius: 20px;
  margin-top: 40vh;
  height: 60vh;
  overflow: hidden;
  border-top-right-radius: 20px;
}
#newRoomDiv{
  font-family: 'Share Tech Mono', monospace;
}
